body
{
    text-align: center;
    background-color: #DEBACE;
    display: flex;
    justify-content: space-around;
}
h1
{
    font-family: 'Nerko One', cursive;
    font-size: 3rem;
}

h3{
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
}
button{
  background-color: #DEBACE;
  color: black;
  border: 2px solid #555555;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}
button:hover{
    background-color: #8c8b8b;
}